{extends file="admin-layout.tpl"}
{default_translation_domain domain='dealer.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Dealer' d="dealer.bo.default"}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}Dealer{/block}

{block name="main-content"}
    <div id="wrapper" class="container">

        {if $form_error}
            <div class="alert alert-danger">{$form_error_message}</div>
        {/if}

        <div class="general-block-decorator">
            <div class="title title-without-tabs">
                {intl l="Dealer edit" d="dealer.bo.default"}
            </div>
            <ul class="nav nav-tabs" id="tabbed-menu">
                <li class="active"><a href="#general" data-toggle="tab">{intl l="General"}</a></li>
                <li><a href="#location" data-toggle="tab">{intl l="Location"}</a></li>
                <li><a href="#contacts" data-toggle="tab">{intl l="Contacts"}</a></li>
                <li><a href="#modules" data-toggle="tab">{intl l="Modules"}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="general">
                    {include file="form/dealer-update.html"}
                </div>
                <div class="tab-pane fade" id="location">
                </div>
                <div class="tab-pane fade" id="contacts">
                    {include file="includes/contact-dealer.html"}
                </div>
                <div class="tab-pane fade" id="modules">
                </div>

            </div>
        </div>
    </div>
{/block}

{block name="javascript-initialization"}
{/block}