{extends file="admin-layout.tpl"}
{default_translation_domain domain='dealer.bo.default'}
{block name="no-return-functions"}
    {$admin_current_location = 'dealer'}
{/block}

{block name="page-title"}{intl l='Dealer' d='dealer.bo.default'}{/block}

{block name="check-access"}view{/block}
{block name="check-module"}Dealer{/block}

{block name="main-content"}

    {$dealer_page = {$smarty.get.page|default:1}}

    <div id="wrapper" class="container">
        {if $general_error}
            <div class="alert alert-danger">
                {$general_error}
            </div>
        {/if}

        <!-- Dealer list -->
        <div class="general-block-decorator">
            <div class="table-responsive">
                <table class="table table-striped table-condensed" id="dealer-table">
                    <caption class="clearfix">
                        {intl l="Dealer" d='dealer.bo.default'}

                        {loop name="auth-create" type="auth" role="ADMIN" resource="admin.dealer" access="CREATE" module="Dealer"}
                            <div class="pull-right">
                                <a class="btn btn-default btn-primary" title="{intl l='Create a new Dealer entry' d='dealer.bo.default'}" data-target="#dealer-create" data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </div>
                        {/loop}
                    </caption>

                    <thead>
                    <tr>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='company'
                                reverse_order='company-reverse'
                                path={url path='/admin/module/Dealer/dealer' target='dealer-table'}
                                label="{intl l='Company' d='dealer.bo.default'}"
                            }
                        </th>
                        <th>
                            {intl l="Visible"}
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='address1'
                                reverse_order='address1-reverse'
                                path={url path='/admin/module/Dealer/dealer' target='dealer-table'}

                                label="{intl l='Address' d='dealer.bo.default'}"

                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='zipcode'
                                reverse_order='zipcode-reverse'
                                path={url path='/admin/module/Dealer/dealer' target='dealer-table'}
                                label="{intl l='Zipcode' d='dealer.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='city'
                                reverse_order='city-reverse'
                                path={url path='/admin/module/Dealer/dealer' target='dealer-table'}
                                label="{intl l='City' d='dealer.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                            current_order=$order
                            order='country'
                            reverse_order='city-reverse'
                            path={url path='/admin/module/Dealer/dealer' target='dealer-table'}
                            label="{intl l='Country' d='dealer.bo.default'}"
                            }
                        </th>
                        <th>
                            {intl l="Actions"}
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    {loop name="dealer-list" type="dealer" backend_context="yes" order=$order page={$dealer_page} limit=50 force_return=true }
                        <tr>
                            <td>
                                <a href="{url path='/admin/module/Dealer/dealer/edit' dealer_id=$ID}">{$ADDRESS1}</a>

                            </td>
                            <td>
                                {loop type="auth" name="can_change" role="ADMIN" resource="admin.dealer" module="Dealer" access="UPDATE"}
                                    <div class="make-switch switch-small toggle-visible" data-id="{$ID}" data-on="success"
                                         data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok'></i>"
                                         data-off-label="<i class='glyphicon glyphicon-remove'></i>">
                                        <input type="checkbox" class="link" {if $VISIBLE == 1}checked="checked"{/if}>
                                    </div>
                                {/loop}

                                {elseloop rel="can_change"}
                                    <div class="make-switch switch-small" data-on="success" data-off="danger"
                                         data-on-label="<i class='glyphicon glyphicon-ok'></i>"
                                         data-off-label="<i class='glyphicon glyphicon-remove'></i>">
                                        <input type="checkbox" class="disabled" disabled="disabled"
                                               {if $VISIBLE == 1}checked="checked"{/if}>
                                    </div>
                                {/elseloop}
                            </td>
                            <td>
                                {$ADDRESS2}
                            </td>
                            <td>
                                {$ZIPCODE}
                            </td>
                            <td>
                                {$CITY}
                            </td>
                            <td>
                                {loop type="country" name="country" id=$COUNTRY_ID limit=1}
                                    {$TITLE}
                                {/loop}
                            </td>
                            {* Actions *}
                            <td>
                                <div class="btn-group">
                                    {loop name="auth-edit" type="auth" role="ADMIN" access="UPDATE" module="Dealer"}
                                        <a class="btn btn-default btn-xs" title="{intl l='Edit this Dealer' d='dealer.bo.default'}"  href="{url path='/admin/module/Dealer/dealer/edit' dealer_id=$ID}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    {/loop}
                                    {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.dealer" access="DELETE" module="Dealer"}
                                        <a class="btn btn-default btn-xs dealer-delete" title="{intl l='Delete this Dealer' d='dealer.bo.default'}" data-target="#dealer-delete" data-toggle="modal" data-id="{$ID}">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    {/loop}
                                </div>
                            </td>
                        </tr>
                    {/loop}
                    {elseloop rel="dealer-list"}
                        <tr>
                            <td colspan="1000">
                                <div class="alert alert-info">
                                    {intl l="There is no Dealer" d="dealer.bo.default"}
                                </div>
                            </td>
                        </tr>
                    {/elseloop}
                    </tbody>

                    {ifloop rel="dealer-list"}
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                {include
                                file           = "includes/pagination.html"

                                loop_ref       = "dealer-list"
                                max_page_count = 20

                                page_url       = {url path="/admin/module/Dealer/dealer" order=$order}

                                }
                            </td>
                        </tr>
                    </tfoot>
                    {/ifloop}

                </table>
            </div>
        </div>
    </div>


    {* CREATE Modal *}

    {form name="dealer.create"}
    {capture "dealer_create"}
       {include file="form/dealer-create.html" form_name="dealer.create"}
    {/capture}

    {include file="includes/generic-create-dialog.html"


        dialog_id       = "dealer-create"
        dialog_title    = {intl l="Create an entry of Dealer" d="dealer.bo.default"}
        dialog_body     = {$smarty.capture.dealer_create nofilter}

        dialog_ok_label     = {intl l="Create"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action        = {$current_url}
        form_enctype       = {form_enctype form=$form}
    }
    {/form}


    {* DELETE modal *}

    {capture "dealer_delete"}
        {intl l="Do you really want to delete this Dealer entry ?" d="dealer.bo.default"}
        <input type="hidden" name="dealer_id" id="dealer_delete_id" value="" />
    {/capture}

    {include file="includes/generic-confirm-dialog.html"

        dialog_id       = "dealer-delete"
        dialog_title    = {intl l="Delete an entry of Dealer" d="dealer.bo.default"}
        dialog_message  = {$smarty.capture.dealer_delete nofilter}

        dialog_ok_label     = {intl l="Delete"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action         = {token_url path='/admin/module/Dealer/dealer/delete'}
    }
{/block}

{block name="javascript-initialization"}
    {javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script>
        console.log('plop');
        $(function() {
            $('a.dealer-delete').click(function(ev) {
                $('#dealer_delete_id').val($(this).data('id'));
            });

            {* Toggle object visibility *}

            $(".toggle-visible").on('switch-change', function (event, data) {
                $.ajax({
                    method: "POST",
                    url: "{url path='admin/module/Dealer/dealer/toggle-online/'}" + $(this).data('id')
                });
            });
        });
    </script>
    {hook name="dealer.js"}
{/block}