{extends file="admin-layout.tpl"}
{default_translation_domain domain='dealer.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='DealerTab' d="dealer.bo.default"}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}Dealer{/block}

{block name="main-content"}

    {form name="dealer_tab.update"}
        <div id="wrapper" class="container">

            {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            <div class="general-block-decorator">
                <div class="title title-without-tabs">
                    {intl l="Dealer edit" d="dealer.bo.default"}
                </div>

                <div class="form-container">
                    <form method="POST" action="{$current_url}" {form_enctype form=$form} class="clearfix" >

                        {include "includes/inner-form-toolbar.html"
                        close_url = {url path="/admin/module/Dealer/dealer_tab"}
                        }

                        {form_field form=$form field="id"}
                        {assign "dealer_tab_id" $value}
                            <input type="hidden" name="{$name}" value="{$value}"/>
                        {/form_field}
                        {form_field form=$form field="success_url"}
                            <input type="hidden" name="{$name}" value="{url path='/admin/module/Dealer'}/dealer_tab"/>
                        {/form_field}
                        {form_hidden_fields form=$form}

                        {loop name="dealer_tab_update" type="dealer-tab" backend_context="yes" id=$dealer_tab_id lang=$edit_language_id}
                            <div class="row">
                                <div class="col-md-12">
                                    {form_field form=$form field="company"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="company"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$COMPANY}" placeholder="{intl l='The DealerTab company'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="address1"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="address1"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$ADDRESS1}" placeholder="{intl l='The DealerTab address1'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="address2"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="address2"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$ADDRESS2}" placeholder="{intl l='The DealerTab address2'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="zipcode"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="zipcode"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$ZIPCODE}" placeholder="{intl l='The DealerTab zipcode'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="city"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="city"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$CITY}" placeholder="{intl l='The DealerTab city'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="description"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="description"}{$message}{/form_error}

                                                <textarea class="form-control" name="{$name}" id="{$label_attr.for}" placeholder="{intl l='The DealerTab description'}">{$DESCRIPTION}</textarea>
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="schedule"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="schedule"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$SCHEDULE}" placeholder="{intl l='The DealerTab schedule'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="phone_number"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="phone_number"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$PHONE_NUMBER}" placeholder="{intl l='The DealerTab phone_number'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="web_site"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="web_site"}{$message}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$WEB_SITE}" placeholder="{intl l='The DealerTab web_site'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="latitude"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="latitude"}{$message}{/form_error}

                                                <input type="number" step="any" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$LATITUDE}" placeholder="{intl l='The DealerTab latitude'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="longitude"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {intl l="{$label}" d="dealer.bo.default"}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="longitude"}{$message}{/form_error}

                                                <input type="number" step="any" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$LONGITUDE}" placeholder="{intl l='The DealerTab longitude'}" />
                                        </div>
                                    {/form_field}

                                    {include "includes/inner-form-toolbar.html"
                                        hide_flags = true
                                        close_url = {url path="/admin/module/Dealer/dealer_tab"}
                                    }

                                    <small>
                                        {intl
                                            l="Dealer created on %created_at. Last modification: %updated_at"
                                            created_at={format_date date=$CREATE_DATE}
                                            updated_at={format_date date=$UPDATE_DATE}
                                            d="dealer.bo.default"
                                        }
                                    </small>
                                </div>
                            </div>
                        {/loop}

                    </form>
                </div>
            </div>
        </div>
    {/form}
{/block}

{block name="javascript-initialization"}
{/block}