{extends file="admin-layout.tpl"}
{default_translation_domain domain='dealer.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Dealer' d="dealer.bo.default"}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}Dealer{/block}

{block name="after-bootstrap-css"}
    <link rel="stylesheet"
          href="{stylesheet file='assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'}">
{/block}

{block name="main-content"}
    <div id="wrapper" class="container">
        {assign "dealer_id" $smarty.get.dealer_id}
        {if $form_error}
            <div class="alert alert-danger">{$form_error_message}</div>
        {/if}

        <div class="general-block-decorator">
            <div class="title title-without-tabs">
                <div class="pull-right">
                    {loop type="dealer" name="dealer-page" backend_context="yes" id=$smarty.get.dealer_id with_prev_next_info=true}
                    {if $HAS_PREVIOUS}
                        <a href="{url path="/admin/module/Dealer/dealer/edit" dealer_id=$PREVIOUS}"
                           class="btn btn-default" title="{intl l='Edit previous dealer' d="dealer.bo.default"}"><span
                                    class="glyphicon glyphicon-arrow-left"></span></a>
                    {/if}
                    {hook name="dealer.edit.nav.bar" dealer_id=$ID}
                    {if $HAS_NEXT}
                        <a href="{url path="/admin/module/Dealer/dealer/edit" dealer_id=$NEXT}" class="btn btn-default"
                           title="{intl l='Edit next dealer' d="dealer.bo.default"}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                    {/if}
                    {/loop}
                </div>
                {intl l="Dealer edit" d="dealer.bo.default"}
            </div>
            {hookblock name="dealer.additional" dealer=$smarty.get.dealer_id}
                <ul class="nav nav-tabs" id="tabbed-menu">
                    <li class="active"><a href="#general" data-toggle="tab">{intl l="General" d="dealer.bo.default"}</a></li>
                    <li><a href="#location" data-toggle="tab">{intl l="Location" d="dealer.bo.default"}</a></li>
                    <li><a href="#contacts" data-toggle="tab">{intl l="Contacts"}</a></li>
                    <li><a href="#schedules" data-toggle="tab">{intl l="Schedules" d="dealer.bo.default"}</a></li>
                    <li><a href="#associated" data-toggle="tab">{intl l="Associated" d="dealer.bo.default"}</a></li>
                    {forhook rel="dealer.additional"}
                        <li><a href="#{$id}" data-toggle="tab">{$title}</a></li>
                    {/forhook}
                    <li><a href="#modules" data-toggle="tab">{intl l="Modules"}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="general">
                        {include file="form/dealer-update.html"}
                    </div>
                    <div class="tab-pane fade" id="location">
                        {include file="includes/dealer-location.html"}
                    </div>
                    <div class="tab-pane fade" id="contacts">
                        <div class="form-container">
                            {include file="includes/contact-dealer.html"}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="schedules">
                        {include file="includes/schedules-dealer.html"}
                    </div>
                    <div class="tab-pane fade" id="associated">
                        {include file="includes/associated.html"}
                    </div>
                    {forhook rel="dealer.additional"}
                        <div class="tab-pane fade" id="{$id}">
                            {$content nofilter}
                        </div>
                    {/forhook}
                    <div class="tab-pane fade" id="modules">
                        {ifhook rel="dealer.extra.content.edit"}
                        {hook name="dealer.extra.content.edit"}
                        {/ifhook}
                        {elsehook rel="dealer.extra.content.edit"}
                            <div class="alert alert-info">
                                {intl l="There is no additionnal content for this Dealer" d="dealer.bo.default"}
                            </div>
                        {/elsehook}
                    </div>

                </div>
            {/hookblock}
        </div>
    </div>
    {include file="modal/dealer-contact-modal.html"}
    {include file="modal/dealer-contact-info-modal.html"}
    {include file="modal/dealer-schedules-modal.html"}

{/block}

{block name="javascript-initialization"}
    {javascripts file='assets/js/moment-with-locales.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {include file="script/dealer-contact-js.html"}
    {include file="script/dealer-contact-info-js.html"}
    {include file="script/dealer-schedules-js.html"}
    {include file="script/dealer-geo-js.html"}
    <script>
        (function ($) {
            $(document).ready(function () {
                var hash = location.hash.slice(1);
                if (!hash) {
                    hash = "general";
                }

                $('#tabbed-menu a[href="#' + hash + '"]').tab('show');

                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })

            });
        })(jQuery);
    </script>
    {hook name="dealer.edit.js"}
{/block}