<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <commands>
        <!--
            <command class="Dealer\Command\MySuperCommand" />
            -->
    </commands>

    <services>
        <service id="dealer_service" class="Dealer\Service\DealerService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_contact_service" class="Dealer\Service\ContactService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_contact_info_service" class="Dealer\Service\ContactInfoService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_schedules_service" class="Dealer\Service\SchedulesService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
    </services>

    <hooks>
        <hook id="dealer.admin.hook" class="Dealer\Hook\AdminInterfaceHook" scope="request">
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" method="onTopMenuTools"/>
            <argument type="service" id="router.dealer"/>
        </hook>
    </hooks>

    <forms>
        <form name="dealer.create" class="Dealer\Form\DealerForm"/>
        <form name="dealer.update" class="Dealer\Form\DealerUpdateForm"/>
        <form name="dealer-contact.create" class="Dealer\Form\ContactForm"/>
        <form name="dealer-contact.update" class="Dealer\Form\ContactUpdateForm"/>
        <form name="dealer-contact-info.create" class="Dealer\Form\ContactInfoForm"/>
        <form name="dealer-contact-info.update" class="Dealer\Form\ContactInfoUpdateForm"/>
        <form name="dealer-schedules.create" class="Dealer\Form\SchedulesForm"/>
    </forms>


    <loops>
        <loop name="dealer" class="Dealer\Loop\DealerLoop"/>
        <loop name="dealer_contact" class="Dealer\Loop\ContactLoop"/>
        <loop name="dealer_contact_info" class="Dealer\Loop\ContactInfoLoop"/>
        <loop name="dealer_schedules" class="Dealer\Loop\SchedulesLoop"/>
    </loops>
    <!--
      <exports>

      </exports>
      -->
    <!--
      <imports>

      </imports>
   -->
</config>
