<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <services>
        <service id="dealer_listener" class="Dealer\EventListener\DealerListener">
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="dealer_service" class="Dealer\Service\DealerService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_contact_service" class="Dealer\Service\ContactService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_contact_info_service" class="Dealer\Service\ContactInfoService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_schedules_service" class="Dealer\Service\SchedulesService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_content_link_service" class="Dealer\Service\ContentLinkService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_folder_link_service" class="Dealer\Service\FolderLinkService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_brand_link_service" class="Dealer\Service\BrandLinkService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_admin_link_service" class="Dealer\Service\AdminLinkService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_product_link_service" class="Dealer\Service\ProductLinkService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="dealer_geo_service" class="Dealer\Service\GeoDealerService">
        </service>
        <service id="dealer.smarty.plugin.favorite.dealer" class="Dealer\Plugin\FavoriteDealerSmartyPlugin">
            <tag name="thelia.parser.register_plugin"/>
            <argument type="service" id="thelia.securityContext" />
        </service>
    </services>

    <hooks>
        <hook id="dealer.admin.hook" class="Dealer\Hook\AdminInterfaceHook" scope="request">
            <tag name="hook.event_listener" event="main.in-top-menu-items" type="back" method="onMainTopMenuTools"/>
            <argument type="service" id="router.dealer"/>
            <argument type="service" id="thelia.securityContext"/>
        </hook>
        <hook id="dealer.internal.hook" class="Dealer\Hook\InternalHook" scope="request">
            <tag name="hook.event_listener" event="dealer.associated.tabcontent" type="back" method="insertContent"/>
            <tag name="hook.event_listener" event="dealer.associated.tabcontent" type="back" method="insertFolder"/>
            <tag name="hook.event_listener" event="dealer.associated.tabcontent" type="back" method="insertBrand"/>
            <tag name="hook.event_listener" event="dealer.associated.tabcontent" type="back" method="insertProduct"/>
            <tag name="hook.event_listener" event="dealer.edit.js" type="back" method="insertContentJs"/>
            <tag name="hook.event_listener" event="dealer.edit.js" type="back" method="insertFolderJs"/>
            <tag name="hook.event_listener" event="dealer.edit.js" type="back" method="insertBrandJs"/>
            <tag name="hook.event_listener" event="dealer.edit.js" type="back" method="insertProductJs"/>
        </hook>
        <hook id="dealer.thelia.admin.hook" class="Dealer\Hook\TheliaAdminHook" scope="request">
            <tag name="hook.event_listener" event="content.tab-content" type="back" method="onContentModuleTab"/>
            <tag name="hook.event_listener" event="content.edit-js" type="back" method="onContentEditJs"/>
            <tag name="hook.event_listener" event="folder.tab-content" type="back" method="onFolderModuleTab"/>
            <tag name="hook.event_listener" event="folder.edit-js" type="back" method="onFolderEditJs"/>
            <tag name="hook.event_listener" event="brand.tab-content" type="back" method="onBrandModuleTab"/>
            <tag name="hook.event_listener" event="brand.edit-js" type="back" method="onBrandEditJs"/>
            <tag name="hook.event_listener" event="product.tab-content" type="back" method="onProductModuleTab"/>
            <tag name="hook.event_listener" event="product.edit-js" type="back" method="onProductEditJs"/>
            <argument type="service" id="router.dealer"/>
        </hook>
    </hooks>

    <forms>
        <form name="dealer.create" class="Dealer\Form\DealerForm"/>
        <form name="dealer.update" class="Dealer\Form\DealerUpdateForm"/>
        <form name="dealer-contact.create" class="Dealer\Form\ContactForm"/>
        <form name="dealer-contact.update" class="Dealer\Form\ContactUpdateForm"/>
        <form name="dealer-contact-info.create" class="Dealer\Form\ContactInfoForm"/>
        <form name="dealer-contact-info.update" class="Dealer\Form\ContactInfoUpdateForm"/>
        <form name="dealer-schedules.create" class="Dealer\Form\SchedulesForm"/>
        <form name="dealer-schedules.update" class="Dealer\Form\SchedulesUpdateForm"/>
        <form name="dealer-schedules.clone" class="Dealer\Form\SchedulesCloneForm"/>
        <form name="dealer-geo" class="Dealer\Form\GeoDealerForm"/>
        <form name="dealer_content_link_create" class="Dealer\Form\ContentLinkForm"/>
        <form name="dealer_folder_link_create" class="Dealer\Form\FolderLinkForm"/>
        <form name="dealer_brand_link_create" class="Dealer\Form\BrandLinkForm"/>
        <form name="dealer_product_link_create" class="Dealer\Form\ProductLinkForm"/>
        <form name="dealer_admin_link_create" class="Dealer\Form\AdminLinkForm"/>
        <form name="dealer.image.header" class="Dealer\Form\DealerImageHeaderForm"/>
        <form name="dealer.image.box" class="Dealer\Form\DealerImageBoxForm"/>
        <form name="dealer.image.modification" class="Dealer\Form\DealerImageModificationForm"/>
        <form name="dealer.meta.seo" class="Dealer\Form\DealerMetaSEOForm"/>
    </forms>


    <loops>
        <loop name="dealer" class="Dealer\Loop\DealerLoop"/>
        <loop name="dealer_contact" class="Dealer\Loop\ContactLoop"/>
        <loop name="dealer_contact_info" class="Dealer\Loop\ContactInfoLoop"/>
        <loop name="dealer_schedules" class="Dealer\Loop\SchedulesLoop"/>
        <loop name="dealer_regular_schedules" class="Dealer\Loop\RegularSchedulesLoop"/>
        <loop name="dealer_extra_schedules" class="Dealer\Loop\ExtraSchedulesLoop"/>
        <loop name="dealer_content" class="Dealer\Loop\ContentLoop"/>
        <loop name="dealer_folder" class="Dealer\Loop\FolderLoop"/>
        <loop name="dealer_brand" class="Dealer\Loop\BrandLoop"/>
        <loop name="dealer_product" class="Dealer\Loop\ProductLoop"/>
        <loop name="dealer_admin" class="Dealer\Loop\AdminLoop"/>
        <loop name="custom_images" class="Dealer\Loop\DealerCustomImagesLoop" />
        <loop name="dealer_meta_seo" class="Dealer\Loop\DealerMetaSeoLoop" />
    </loops>
</config>